body {
 padding: 25px 55px;
}

img {
  width: 190px;
  height: auto;
}

.search {
  text-align: center;
  margin-bottom: 25px;
}

input {
  width: 55%;
  height: 45px;
  border-style: solid;
  border-color: lightgray;
  border-radius: 5px;
}

#search::placeholder {
  text-align: left;
  font-size: 10px;
  padding: 10px
}

.thumbnails {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
  grid-gap: 25px 20px; 
}